@import '../../scss/variables.scss';

.products-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.product-container {
  width: 100px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  background-color: lighten($base-color, 10%);
}